
.otp--body{
    width : 375px;
    align-content: center;
    justify-content: center;


}





.otn--number{
    height: 100px;
    text-align: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(209, 213, 219, 1);
}


.otp--box{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 2.5px;
    justify-content: center;

}



.gauge {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
    align-self: center;
    margin-top: 10px;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }



  .btn{
      background-color: #275efe;
      height: 40px;
      padding: 5px;
      border-radius: 5%;
      margin-left: auto;
      margin-right: auto;
      color: wheat;
  }
  