
.otp--body{
  width : 375px;
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  background-color: #f4eeff;
  border-radius: 5%;
  box-shadow: 2px 2px 20px rgb(168, 165, 165);

}





.otp--number{


    background-color: #a6b1e1;
    color: #424874;
    font-size: 400%;
    border-radius: 5%;
    padding: 5%;
    box-shadow: 2px 2px 20px rgb(168, 165, 165);
}


.otp--box{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:  center;
    align-items: center;
    width: 100%;
    margin: 20px;


}



.gauge {

    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #424874;
    align-self: center;
    margin: 20px;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    background-color: #f4eeff;
    box-shadow: 2px 2px 20px rgb(168, 165, 165);
  }
  
  .gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #424874;
    transform-origin: center top;
    
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4eeff;
    
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    font-size: 70px;
    text-shadow: black;
  }



  .btn{
      background-color: #275efe;
      height: 40px;
      border-radius: 5%;
      margin: 15px;
      color: whitesmoke;
      box-shadow: 2px 2px 20px rgb(168, 165, 165);

  }
  